.ttdsize, .col6tah{
    display: none;
}

.table{
width: 100%;

}

th,
td {
  padding: 24px 30px;
  text-align: center;
  border-bottom: 1px solid #E1E1E1; 
}
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

.baseimgpdf{
    width: 100%;
}

.baseimgpdf p{
    padding-top: 50px;
    padding-bottom: 50px;

    text-align: left;
    font-size: 25px;
    font-weight: 600;
}
